@theme {
    --animate-fade-in: animate-fade-in 0.3s ease;
    @keyframes animate-fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    --animate-fade-out: animate-fade-out 0.3s ease;
    @keyframes animate-fade-out {
        to {
            opacity: 0;
        }
    }
    --animate-zoom-up: animate-zoom-up 0.3s ease;
    @keyframes animate-zoom-up {
        from {
            opacity: 0;
            transform: scale(0.75);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    --animate-slide-up: animate-slide-up 0.3s ease;
    @keyframes animate-slide-up {
        from {
            opacity: 0;
            transform: translateY(20%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    --animate-slide-in-from-right: animate-slide-in-from-right 0.3s ease;
    @keyframes animate-slide-in-from-right {
        from {
            transform: translateX(100%);
        }
    }
    --animate-slide-out-to-right: animate-slide-out-to-right 0.3s ease;
    @keyframes animate-slide-out-to-right {
        to {
            transform: translateX(100%);
        }
    }
    --animate-slide-in-from-left: animate-slide-in-from-left 0.3s ease;
    @keyframes animate-slide-in-from-left {
        from {
            transform: translateX(-100%);
        }
    }
    --animate-slide-out-to-left: animate-slide-out-to-left 0.3s ease;
    @keyframes animate-slide-out-to-left {
        to {
            transform: translateX(-100%);
        }
    }
    --animate-slide-in-from-top: animate-slide-in-from-top 0.3s ease;
    @keyframes animate-slide-in-from-top {
        from {
            transform: translateY(-100%);
        }
    }
    --animate-slide-out-to-top: animate-slide-out-to-top 0.3s ease;
    @keyframes animate-slide-out-to-top {
        to {
            transform: translateY(-100%);
        }
    }
}
